#CreditsView {
    .list {
        background-color: #e3e3e3;
        margin: 10px;
        padding: 10px 0px;
        .info {
            display: flex;
            align-items: center;
            padding: 4px 16px 4px 16px;
            background-color: transparent;
            .title {
                width: 100px;
                font-weight: bold;
            }
            .value {
                margin-left: 20px;
            }
        }
    }
}