#login {
    #logo {
        height: 100px;
    }
    em {
        color: red;
        margin-left: 15px;
        margin-top: -10px;
    }
    .list {
        margin-right: 20px;
    }
    .menu-open .ion-navicon:before {
        content: "\f2ca";
    }
    .imgContainer {
        text-align: center;
    }
    .item-md-label {
        padding: 7px 0 0;
    }
    .login-button {
        padding: 0px 16px;
        margin-top: -10px;
    }
    .social-buttons {
        padding: 16px;
        text-align: center;
        button {
            width: 80px;
        }
    }
}