/************************************
 *
 *  Main Styles to compile. Here only @imports!
 *
 ************************************/

@import "_variables";
@import "_fonts";

/**
 * LAYOUT
 */

@import "layout/layout";

/*
 * MENU
 */

@import "menu/menu";

/**
 * VIEWS
 */

@import "common/common";
@import "views/home";
@import "views/login";
@import "views/slidemenu";
@import "views/sharing";
@import "views/credit";
@import "views/myfile";
@import "views/settings";
.icon-record {
    font-size: 15px !important;
}

.isRecoring {
    color: red;
}