<ion-view view-title="{{'my_credits' | translate}}" id="CreditsView">
    <ion-header-bar align-title="center" class="bar bar-header home-header">
        <button type="button" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
        <h1 class="title">{{'my_credits' | translate}}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="item">
            <b class="title">{{'my_credits' | translate}} </b>:
            <span class="content">{{vm.myCredit}}</span>
        </div>
        <div class="list" ng-repeat="credit in vm.credits | orderBy: 'datetime':true">
            <div class="info">
                <span class="title">{{'date' | translate}} </span>:
                <span class="value">{{credit.datetime}}</span>
            </div>
            <div class="info">
                <span class="title">{{'action' | translate}} </span>:
                <span class="value">{{credit.action}}</span>
            </div>
            <div class="info">
                <span class="title">{{'description' | translate}} </span>:
                <span class="value">{{credit.description}}</span>
            </div>
            <div class="info">
                <span class="title">{{'quantity' | translate}} </span>:
                <span class="value">{{credit.qty}}</span>
            </div>
            <div class="info">
                <span class="title">Solde </span>:
                <span class="value">{{credit.solde}}</span>
            </div>
        </div>
    </ion-content>

</ion-view>