<ion-view id="login" view-title="Login" align-title="left" ng-if="vm.isDeviceReady">
    <ion-content>
        <div class="hero no-header flat">
            <div class="content">
                <!--<i class="ion-map icon hero-icon royal-bg"></i>-->
                <!--<h1>Printing App</h1>-->
                <img id="logo" src="images/Logo_Easy_Full.png" class=" ">
            </div>
        </div>
        <form name="loginForm" class="list" novalidate>
            <label class="item item-input item-md-label" placeholder="email" highlight-color="energized" type="text">
                <input name="email" ng-model="vm.email" type="text" required>
                <span ng-show="loginForm.email.$invalid" class="input-label">{{'email' | translate}}</span>
                <div class="highlight highlight-energized"></div>
            </label>
            <label class="item item-input item-md-label" placeholder="Password" highlight-color="energized" type="password">
                <input name="passWord" ng-model="vm.passWord" type="password" required>
                <span ng-show="loginForm.passWord.$invalid" class="input-label">{{'password' | translate}}</span>
                <div class="highlight highlight-energized"></div>
            </label>
            <em ng-if="vm.incorrect">{{'username_or_password_is_incorrect' | translate}}</em>
        </form>

        <div class="login-button">
            <button on-tap="vm.login(vm.email,vm.passWord)" class="button button-full button-orange ink">{{'login' | translate}}</button>
        </div>
        <div class="social-buttons">
            <button class="button button-positive" ng-click="vm.faceBookLogin()">
                 <i class="icon ion-social-facebook"></i>
            </button>
            <button class="button button-assertive" ng-click="vm.googleLogin()">
                 <i class="icon ion-social-googleplus"></i>
            </button>
        </div>
        <div class="imgContainer">
            <img ng-src="{{vm.AdvImageSource}}" alt="Adv Image" width="85%" height="150px">
        </div>
    </ion-content>
</ion-view>