<ion-side-menus ng-controller="MainController as vm">
    <!-- Center content -->
    <ion-side-menu-content>
        <ion-nav-bar class="home-header">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <!--<button type="button" class="button button-icon button-clear button-orange" ng-click="vm.recordVoice()">
                    <i ng-class="{'isRecoring': vm.isRecoring}" class="icon-record fa fa-microphone" aria-hidden="true"></i>
                </button>
                <button type="button" class="button button-icon button-clear button-orange" ng-click="vm.playback()">
                    <i class="icon-record fa fa-play" ng-class="{'isRecoring': vm.isPlaying}" aria-hidden="true"></i>
                </button>-->
                <button type="button" class="button button-icon button-clear btn-ScanQR" ng-click="vm.scanBarcode()">
                    <i class="icon-scanQR fa fa-qrcode" aria-hidden="true"></i>
                </button>

            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="viewContent" animation="slide-left-right">

        </ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" is-enabled="true" width="275" class="menu menu-left" style="width: 275px; z-index: 0;">
        <ion-header-bar class="expanded bar bar-header menu-header disable-user-behavior ">
            <img src="images/Logo_E.png" class="avatar motion spin fade">
            <div class="menu-bottom">
                Mywork EASY
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header scroll-content ionic-scroll  has-header">
            <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                <ion-list class="disable-user-behavior">
                    <div class="list">
                        <ion-item nav-clear="" menu-close="" class="item item-complex">
                            <a ui-sref="app.home" class="item-content">
                                {{'home' | translate}}
                            </a>
                        </ion-item>
                        <ion-item nav-clear="" menu-close="" class="item item-complex">
                            <a ui-sref="app.myfiles" class="item-content">
                               {{'my_files' | translate}}
                            </a>
                        </ion-item>
                        <ion-item nav-clear="" menu-close="" class="item item-complex">
                            <a ui-sref="app.credit" class="item-content">
                               {{'my_credits' | translate}}
                            </a>
                        </ion-item>
                        <ion-item nav-clear="" menu-close="" class="item item-complex">
                            <a ui-sref="app.sharing" class="item-content">
                                {{'share_file' | translate}}
                            </a>
                        </ion-item>
                        <ion-item nav-clear="" menu-close="" class="item item-complex">
                            <a ui-sref="app.settings" class="item-content">
                                {{'settings' | translate}}
                            </a>
                        </ion-item>
                        <ion-item nav-clear="" menu-close="" class="item item-complex">
                            <a on-tap="vm.logOut()" class="item-content">
                                {{'log_out' | translate}}
                            </a>
                        </ion-item>
                    </div>
                </ion-list>
            </div>
            <div class="scroll-bar scroll-bar-v">
                <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>.